/* 200 - 374 */

@media (min-width: 200px) and (max-width: 330px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 120px;
        padding: 0;
        margin:10px
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 20px;
    }

    .subtitulo-banner {
        font-size: 10px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 10px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 310px;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 27px;
        font-size: 13px;
    }

    .paragrafo-bloco {
        font-size: 12px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 12px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 10px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 25px;
    }

    #linha-tempo .saiba-mais {
        font-size: 10px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 30px;
    }

    #contato p {
        font-size: 15px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 40px;
    }

    .titulo-contato {
        font-size: 20px;
    }

    .paragrafo-contato {
        font-size: 12px !important;
    }

    #contato button {
        padding: 10px 10px 10px 0px;
        font-size: 11px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 7px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }
}
/* 330 - 400 */

@media (min-width: 330px) and (max-width: 400px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 160px;
        padding: 0;
        margin: 10px;
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 20px;
    }

    .subtitulo-banner {
        font-size: 10px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 10px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 27px;
        font-size: 15px;
    }

    .paragrafo-bloco {
        font-size: 12px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 12px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 15px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 30px;
    }

    #linha-tempo .saiba-mais {
        font-size: 15px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 30px;
    }

    #contato p {
        font-size: 15px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 40px;
    }

    .titulo-contato {
        font-size: 20px;
    }

    .paragrafo-contato {
        font-size: 12px !important;
    }

    #contato button {
        padding: 10px 10px 10px 0px;
        font-size: 11px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 10px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }


}

@media (min-width: 401px) and (max-width: 500px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 200px;
        padding: 0;
        margin: 10px;
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 30px;
    }

    .subtitulo-banner {
        font-size: 14px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 14px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 0%;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 21px;
        font-size: 30px;
    }

    .paragrafo-bloco {
        font-size: 16px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 16px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 35px;
    }

    #linha-tempo .saiba-mais {
        font-size: 17px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 35px;
    }

    #contato p {
        font-size: 17px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 60px;
    }

    .titulo-contato {
        font-size: 30px;
    }

    .paragrafo-contato {
        font-size: 14px !important;
    }

    #contato button {
        padding: 10px 15px 10px 15px;
        font-size: 17px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 10px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }


}
@media (min-width: 501px) and (max-width: 600px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 200px;
        padding: 0;
        margin: 10px;
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 30px;
    }

    .subtitulo-banner {
        font-size: 14px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 14px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 0%;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 21px;
        font-size: 30px;
    }

    .paragrafo-bloco {
        font-size: 16px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 16px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 35px;
    }

    #linha-tempo .saiba-mais {
        font-size: 17px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 35px;
    }

    #contato p {
        font-size: 17px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 60px;
    }

    .titulo-contato {
        font-size: 30px;
    }

    .paragrafo-contato {
        font-size: 14px !important;
    }

    #contato button {
        padding: 10px 15px 10px 15px;
        font-size: 17px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 10px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }
}
@media (min-width: 601px) and (max-width: 700px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 300px;
        padding: 0;
        margin: 10px;
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 40px;
    }

    .subtitulo-banner {
        font-size: 20px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 20px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 0%;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 21px;
        font-size: 30px;
    }

    .paragrafo-bloco {
        font-size: 16px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 16px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 35px;
    }

    #linha-tempo .saiba-mais {
        font-size: 17px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 35px;
    }

    #contato p {
        font-size: 17px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 60px;
    }

    .titulo-contato {
        font-size: 30px;
    }

    .paragrafo-contato {
        font-size: 14px !important;
    }

    #contato button {
        padding: 10px 15px 10px 15px;
        font-size: 17px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 10px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }


}
@media (min-width: 701px) and (max-width: 765px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 300px;
        padding: 0;
        margin: 10px;
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 40px;
    }

    .subtitulo-banner {
        font-size: 20px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 20px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 0%;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 21px;
        font-size: 30px;
    }

    .paragrafo-bloco {
        font-size: 16px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 16px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 35px;
    }

    #linha-tempo .saiba-mais {
        font-size: 17px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 35px;
    }

    #contato p {
        font-size: 17px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 60px;
    }

    .titulo-contato {
        font-size: 30px;
    }

    .paragrafo-contato {
        font-size: 14px !important;
    }

    #contato button {
        padding: 10px 15px 10px 15px;
        font-size: 17px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 10px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }


}
@media (min-width: 766px) and (max-width: 1000px) {

    /*NavBar*/
    #navbarNav {
        padding-left: 0px;
    }

    .icon-search {
        display: none;
    }

    .navbar-toggler-icon {
        width: 1em !important;
    }

    /*Section Banner*/
    .logo {
        max-width: 300px;
        padding: 0;
        margin: 10px;
    }

    #banner img {
        max-width: 100%;
        margin-top: 20px;
        height: 470px;
    }

    .texto-banner {
        top: 150px;
    }

    .titulo-banner {
        font-size: 40px;
    }

    .subtitulo-banner {
        font-size: 20px;
        max-width: 90%;
        margin-top: 20px;
    }

    .subtitulo-banner span {
        font-size: 20px;
    }

    .button-text-banner {
        padding: 10px 20px;
        font-size: 10px;
    }

    /*Section topicos*/

    #topicos {
        margin-bottom: 100px;
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        height: 0%;
        margin-bottom: 20px;
    }

    .bloco img {
        max-width: 100%;
    }

    .titulo-bloco {
        margin: 15px 15px 1px 21px;
        font-size: 30px;
    }

    .paragrafo-bloco {
        font-size: 16px;
    }

    .saiba-mais {
        padding: 0px 20px 20px 20px;
        font-size: 16px;
    }

    /*Section Linha-tempo*/

    #linha-tempo {
        margin-bottom: 50px;
    }

    .linha {
        flex-direction: column;
    }

    .img-boneco {
        max-width: 150px;
    }

    #linha-tempo h2 {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    #nova-energia {
        font-size: 35px;
    }

    #linha-tempo .saiba-mais {
        font-size: 17px;
        margin: 5px;
    }

    /* Contato */
    #contato {
        margin-bottom: 10px;
    }

    #contato h1 {
        font-size: 35px;
    }

    #contato p {
        font-size: 17px;
    }

    #contato .bloco {
        width: 100%;
    }

    #contato .bloco img {
        max-width: 60px;
    }

    .titulo-contato {
        font-size: 30px;
    }

    .paragrafo-contato {
        font-size: 14px !important;
    }

    #contato button {
        padding: 10px 15px 10px 15px;
        font-size: 17px;

    }

    /* Footer */
    .rodape {
        flex-direction: column;
    }

    .rodape label {
        font-size: 10px;
    }

    .rodape img {
        max-width: 100px;
    }

    .logos-fundo img {
        max-width: 100%;
    }


}